@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome, Pierre's Bakery Staff</h1>
  <div class="container">
    <p><a href="/vendors">Click here</a> to add new and view all existing vendors.</p>
  </div>
</div>
