@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome, Pierre's Bakery Staff</h1>
  <div class="container">
    <p>Click <a href="/vendors">here</a> to add and view all vendors.</p>
  </div>
</div>
