@{
  ViewData["Title"] = "Home Page";
}

<div class="homepage text-center">
  <h1 class="display-4 pt-5">Welcome, Pierre's Bakery Staff</h1>
  <div class="container">
    <a class="btn btn-lg btn-primary mt-5" href="/vendors">View All Vendors</a>
  </div>
</div>
