@using PierresVendorApp.Models;

@{
  ViewData["Title"] = "Vendors Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome, Pierre's Bakery Staff</h1>
  <div class="container">
    TODO NEW
  </div>
</div>
